<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}

    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    {% block other_css %}{% endblock other_css %}

    <script src="{% static 'js/jquery.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body>
    <div style="position: absolute; left: 0; top: 0; height: 100%; width: 100%;">
        <nav class="navbar navbar-expand navbar-dark bg-primary">
            <a class="navbar-brand text-light" id="id_name_of_site" href="/">Blog Master</a>

            {% block nav_link %}{% endblock nav_link %}
        </nav>

        <div class="h1 text-center" id="id_name_of_page" style="margin-top: 20px; margin-bottom: 20px;">
            {% block page_name %}{% endblock page_name %}
        </div>

        {% block content %}{% endblock content %}
    </div>
</body>
{% block other_js %}{% endblock other_js %}

</html>