{% extends 'base.html' %}

{% block title %}
Login
{% endblock title %}

{% block nav_link %}
<div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
        <li><a class="text-light" href="/socialnetwork/register" id="id_register_link">Register</a></li>
    </ul>
</div>
{% endblock nav_link %}

{% block page_name %}
Login
{% endblock page_name %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="card col-sm-10 col-md-6 mx-auto" style="margin-top: 60px;margin-bottom: 30px;">
            <div class="card-body">
                <form class="form" action="/socialnetwork/login" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <span class="text-danger errorlist">{{message}}</span>
                    </div>
                    <div class="form-group">
                        <label class="" for="username">Username</label>
                        <input type="text" class="form-control" id="id_username" name="username" value="{{ username }}"
                            placeholder="" />
                    </div>
                    <div class="form-group">
                        <label class="" for="password">Password</label>
                        <input type="password" class="form-control" id="id_password" name="password" placeholder="" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" id="id_login_button">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}