<!--
  Step 1: This is your descretion how you would like to display data,
  but you must list all the documents in your resource collection.
-->
<%- include ('../partials/header') %>

<div class="container my-5">
  <header>
    <h1>Plans</h1>
  </header>
  <hr>
  <div class="content">

  </div>
</div>

<%- include ('../partials/footer') %>